.admin-page {
    background-color: #30373f;
    height: 100vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-container {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 15px;
}

.admin-home-card {
    color: #FFD93D;
    text-align: center;
    background-color: #181818;
    margin: 0 8%;
    padding: 4vh 3vh;
    border-radius: 0.8rem;
    border: 1px solid #4e4c4cc7;
}

.admin-home-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



.admin-home-card button {

    border: 1.5px solid #f08329df;
    background-color: #30373f00;
    color: #f08329df;
    padding: 5px 25px;
    border-radius: 0.5rem;
}

.admin-home-card button:hover {
    background-color: #f08329df;
    color: aliceblue;
    padding: 5px 25px;
    border-radius: 0.5rem;
}

.admin-banner-input {
    padding: 4vh 3vw;
    align-self: center;
    margin-top: 8vh;
}

.admin-banner-input h5 {

    margin-bottom: 20px;
}

.admin-banner-input input {
    background-color: #181818;
    color: aliceblue;
    border: 1px solid #7b7979;
}

.admin-banner-input input:focus {
    background-color: #181818;
    color: aliceblue;
    outline: none;
}

.admin-banner-input button {

    margin-top: 30px;
}

.admin-banner-input button:hover {}



@media screen and (min-width:320px) and (max-width:540px) {

    .card-container {
        grid-template-columns: 100%;
    }
    .admin-page{
        height: 100%;
    }

}


@media screen and(min-width:768px) and (max-width:900px) {
    .card-container{
        grid-template-columns: 33% 33% 33%;
    }
}